<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <style>
        path {
{#            -webkit-transition: opacity 0.1s;#}
{#            cursor: pointer;#}
{#            opacity: 0;#}
        }

        imagepattern:hover {
            opacity: 0;
        }

        .imagepattern {
            -webkit-transition: opacity 0.1s;
            cursor: pointer;
            opacity: 1;
        }
    </style>
</head>
<body style="display: block; margin:auto; ">
<script>


</script>

<svg height="100%" version="1.1" width="100%" xmlns="http://www.w3.org/2000/svg" >
    <desc>Created with Snap</desc>
    <defs>
        <pattern x="100" y="0" width="281.5" height="233" patternUnits="userSpaceOnUse" id="patternSj09et61d3" style="display: flex;flex-wrap: wrap;justify-content: center" >
            <image class="imagepattern" xmlns:xlink="http://www.w3.org/1999/xlink"
                   xlink:href="http://img.hb.aicdn.com/94e8240f72ee55ff914f3d789a3577a11710fde17f3ce-8ZjQ2v_fw658"
                   preserveAspectRatio="xMidYMid slice" x="0" y="0" width="281.5" height="233" style="visibility: hidden"></image>
            <image class="imagepattern" xmlns:xlink="http://www.w3.org/1999/xlink"
                   xlink:href="http://img.hb.aicdn.com/94e8240f72ee55ff914f3d789a3577a11710fde17f3ce-8ZjQ2v_fw658"
                   preserveAspectRatio="xMidYMid slice"  width="28" height="23"></image>

{#            <div preserveAspectRatio="xMidYMid slice" x="0" y="0" width="281.5" height="233" style="background-color: red; visibility: hidden"  >#}
{#                safdsfasdfdsafdd#}
{#            </div>#}
        </pattern>
        <pattern x="345" y="0" width="301.5" height="268.5" patternUnits="userSpaceOnUse" id="patternSj09et61d6">
            <image class="imagepattern" xmlns:xlink="http://www.w3.org/1999/xlink"
                   xlink:href="http://img.hb.aicdn.com/29125306a1a2cfd2d732a54b487d37b7372c36c8692ce-OwTMnW_fw658"
                   preserveAspectRatio="xMidYMid slice" x="0" y="0" width="301.5" height="268.5"></image>
        </pattern>
        <pattern x="600" y="0" width="267.5" height="323" patternUnits="userSpaceOnUse" id="patternSj09et61d9">
            <image class="imagepattern" xmlns:xlink="http://www.w3.org/1999/xlink"
                   xlink:href="http://img.hb.aicdn.com/4736a6567a20b1c6d8af1ab22d827abd23bd7f044fd95-3dMoyr_fw658"
                   preserveAspectRatio="xMidYMid slice" x="0" y="0" width="267.5" height="323"></image>
        </pattern>
        <pattern x="100" y="156" width="353.5" height="254" patternUnits="userSpaceOnUse" id="patternSj09et61dc">
            <image class="imagepattern" xmlns:xlink="http://www.w3.org/1999/xlink"
                   xlink:href="http://img.hb.aicdn.com/94e8240f72ee55ff914f3d789a3577a11710fde17f3ce-8ZjQ2v_fw658"
                   preserveAspectRatio="xMidYMid slice" x="0" y="0" width="353.5" height="254"></image>
        </pattern>
        <pattern x="394.5" y="178" width="472" height="235" patternUnits="userSpaceOnUse" id="patternSj09et61df">
            <image class="imagepattern" xmlns:xlink="http://www.w3.org/1999/xlink"
                   xlink:href="http://img.hb.aicdn.com/ed55102bd05a0c95473cb958747091f2fcb3b98e94c0b-PC5EbL_fw658"
                   preserveAspectRatio="xMidYMid slice" x="0" y="0" width="472" height="235"></image>
        </pattern>
    </defs>
    <path onclick="" d="M100 0L100 193.5L319.5 233L381.5 0z" style="stroke-width: 10; stroke-linejoin: round;"
          stroke="#000000"
          fill="url('#patternSj09et61d3')"></path>
    <path d="M345 155L381.5 0L614 0L646.5 85L538 268.5z" stroke="#000000" fill="url('#patternSj09et61d6')"
          style="stroke-width: 10; stroke-linejoin: round;"></path>
    <path d="M614 0L867.5 0L867.5 323L600 172L649.5 81z" stroke="#000000" fill="url('#patternSj09et61d9')"
          style="stroke-width: 10; stroke-linejoin: round;"></path>
    <path d="M100 193.5L100 410L395 410L453.5 222.5L337.5 156L314 232.5z" stroke="#000000"
          fill="url('#patternSj09et61dc')" style="stroke-width: 10; stroke-linejoin: round;"></path>
    <path d="M394.5 412.5L453.5 222.5L540.5 275L600 178L866.5 334.5L866.5 413z" stroke="#000000"
          fill="url('#patternSj09et61df')" style="stroke-width: 10; stroke-linejoin: round;"></path>
</svg>

</body>
</html>